# نظام التشغيل
.DS_Store
Thumbs.db

# محررات النصوص
*.swp
*.swo
*~
.vscode/
.idea/

# السجلات
*.log
npm-debug.log*

# الملفات المؤقتة
*.tmp
*.temp

# لو فيه node_modules
node_modules/

# ملفات البيئة
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
